*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background: linear-gradient(#e66465, #9198e5);
}

.flex-container {
    display: flex;
}

.flex-item{
    /*background-color: rgb(50,50,50);*/
    width: 50%;
    padding: 5px;
    
}
.flex-center{
    width: 40%;
    padding: 1%;
    /*background-color: rgb(50,50,50);*/
}
.kep{
    position: absolute;
    width: 70%;
    height: auto;
}
/*
#div1,#div2,#div3,#div4,#div5 {
    width: 50%;
    height: 10%;
    padding: 2%;
    text-align: center;
    color: white;
    font-weight: bold;
    position: relative;
    animation: mymove 5s ;
    animation-fill-mode: forwards;
  }
  
  #div1 {animation-timing-function: linear;}
  #div2 {animation-timing-function: ease;}
  #div3 {animation-timing-function: ease-in;}
  #div4 {animation-timing-function: ease-out;}
  #div5 {animation-timing-function: ease-in-out;}
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }
*/
#balkep{
    position: relative;
    animation: balkepanim 5s ;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#balszoveg{
    position: relative;
    animation: balszoveganim 5s ;
    margin-top: 4%;
    animation-fill-mode: forwards;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#jobbkep{
    position: relative;
    animation: jobbkepanim 5s ;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#jobbszoveg{
    position: relative;
    animation: jobbszoveganim 5s ;
    animation-fill-mode: forwards;
    margin-top: 5%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.jobboldal{
    margin-top: 30%;
    margin-bottom: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
}
.baloldal{
    font-size: 20px;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 2%;
}
.egymasmelle{
    display: flex;
}
#balkep:hover,#jobbkep:hover{
    transform: scale(1.1);
}
img{
    z-index: 1;
}
 

#balkep {animation-timing-function: ease;}
#balszoveg {animation-timing-function: ease;}
#jobbkep {animation-timing-function: ease;}
#jobbszoveg {animation-timing-function: ease;}

@keyframes jobbkepanim {
    from {right: -250%;}
    to {right: 2%;}
}
@keyframes jobbszoveganim {
    from {right: -150%;}
    to {right: 8%;}
}

@keyframes balkepanim {
    from {left: -250%;}
    to {left: 2%;}
}
@keyframes balszoveganim {
    from {left: -150%;}
    to {left: 20%;}
}

.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(50,50,50);
}