*{
    padding: 0;
    margin: 0;
}
.footer{
    bottom: 0;
    left: 0;
    width: 100% !important;
    background-color: rgb(50,50,50);
    color:#3bd1ae;
    

   
}
.fo{
    overflow-x: hidden;
    background: linear-gradient(#d4c5c5, #01C29A)!important;
    background-repeat: no-repeat;
    background-size: cover;
}



.flex-item{
    /*background-color: rgb(50,50,50);*/
    width: 50%;
    padding: 5px;
    
}
.flex-center{
    width: 40%;
    padding: 1%;
    /*background-color: rgb(50,50,50);*/
}

/*
#div1,#div2,#div3,#div4,#div5 {
    width: 50%;
    height: 10%;
    padding: 2%;
    text-align: center;
    color: white;
    font-weight: bold;
    position: relative;
    animation: mymove 5s ;
    animation-fill-mode: forwards;
  }
  
  #div1 {animation-timing-function: linear;}
  #div2 {animation-timing-function: ease;}
  #div3 {animation-timing-function: ease-in;}
  #div4 {animation-timing-function: ease-out;}
  #div5 {animation-timing-function: ease-in-out;}
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }
*/
#leftimg{
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#rightimg{
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#balkep{
    position: relative;
    animation: balkepanim 5s ;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#balszoveg{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: purple;
}

#jobbkep{
    position: relative;
    animation: jobbkepanim 5s ;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#jobbszoveg{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#leftimg:hover,#rightimg:hover{
    transform: scale(1.1);
}
img{
    z-index: 1;
}

#balkep {animation-timing-function: ease;}
#jobbkep {animation-timing-function: ease;}
#jobbszoveg {animation-timing-function: ease;}

@keyframes jobbkepanim {
    from {right: -250%;}
    to {right: 2%;}
}
@keyframes jobbszoveganim {
    from {right: -150%;}
    to {right: -8%;}
}

@keyframes balkepanim {
    from {left: -250%;}
    to {left: -10%;}
}


